# FOCUSED Project: OSPO adoption

As part of the [FOCUSED Collaboration project](https://github.com/JumpsuitWizard/FOCUSED-Collaboration), this notebook examines OSPO (Open Source Programs Offices) adoption across the [Standard and Poor's 500 index](https://en.wikipedia.org/wiki/S%26P_500).

## Authors

- **PI**: Duane O'Brien
- **Researcher**: julia ferraioli
- **Analyst**: Reshama Shaikh

## Research question

## Methodology

## Data sources

The following data sources are used in the analysis:

- [S&P 500](https://github.com/datasets/s-and-p-500-companies/blob/master/data/constituents.csv)
- [OSCI Index](https://opensourceindex.io/)
- [OSPO Landscape](https://landscape.todogroup.org/)
- [OSPO++ Membership](https://ospoplusplus.org/about/members/)
- [OSPO Alliance Membership](https://ospo-alliance.org/membership/)

## Data fetching

Get the latest version of the data if the cached copy is more than 1 month old

In [120]:
from datetime import date
import pandas as pd
import pprint
import os
import re
import requests

pp = pprint.PrettyPrinter(indent=2)

# Set the raw output directory in YYYY/MM format
today = date.today()
data_dir = "data_raw/%s/%s/" % (today.year, ('%02d' % (today.month)))

# Dictionary of sources
sources = {"SP500": {"name": "S&P 500",
                     "link": "https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv",
                     "format": "csv",
                     "data": None
                     },
           "OSCI": {"name": "OSCI",
                    # This is the base URL; needs to be fully qualified with year/month.json (ex /monthly/2023/07.json)
                    "link": "https://ststaticprodosciwebz2vmu.blob.core.windows.net/data/osci-ranking/monthly/%s/%s.json" % (today.year, ('%02d' % (today.month-1))),
                    "format": "json",
                    "data": None
                    },
           "TODO": {"name": "TODO Group Landscape",
                    "link": "https://landscape.todogroup.org/api/export?category=todo-group-member,ospo-adopter&project=&license=&organization=&headquarters=&company-type=&industries=&sort=name&grouping=no&bestpractices=&enduser=&parent=&language=&specification=&format=main",
                    "format": "csv",
                    "data": None
                    },
           "OSPOPlusPlus": {"name": "OSPO++",
                            "link": "https://raw.githubusercontent.com/ospoplusplus/ospoplusplus/main/content/about/members/_index.md",
                            "format": "md",
                            "data": None
                            },
           "OSPOAlliance": {"name": "OSPO Alliance",
                            "link": "https://gitlab.eclipse.org/eclipse/plato/www/-/raw/main/layouts/shortcodes/section-members.html",
                            "format": "html",
                            "data": None
                            }
           }

# Fetch and save the versioned data if it is out of date
for key, value in sources.items():
    # Check most recent data file
    filepath = os.path.join(data_dir, ("%s.%s" % (key, value['format'])))
    if os.path.isfile(filepath):
        print(value['name'], " is up-to-date")
    else:
        # Request the data
        try:
            req = requests.get(value['link'], stream=True)
            req.raise_for_status()
            if not os.path.exists(data_dir):
                os.makedirs(data_dir)
            with open(os.path.join(data_dir, ("%s.%s" % (key, value['format']))), "w") as f:
                f.write(req.text)
        except requests.exceptions.HTTPError as e:
            print("received %s; skipping." % (e))
            continue

S&P 500  is up-to-date
OSCI  is up-to-date
TODO Group Landscape  is up-to-date
OSPO++  is up-to-date
OSPO Alliance  is up-to-date

## Data setup

### Create utility functions for parsing specific data sources

In [121]:
# Process OSPO++ members
def parse_opp(filepath):
    regex = r"(?<=company name\=)\"(.*?)\""
    with open(filepath, 'rt') as f:
        raw = f.read()
        return pd.DataFrame({'OSPO++ Member': re.findall(regex, raw)})

# Process OSPO Alliance members
def parse_alliance(filepath):
    name_re = r"(?<=alt\=)\"(.*?)(?= logo|\")"
    site_re = r"(?<=href\=)\"(.*?)(?=\")"
    with open(filepath, 'r') as f:
        raw = f.read()
        return pd.DataFrame({'OSPO Alliance Member': re.findall(name_re, raw), 'Website': re.findall(site_re, raw)})

### Load the data into Pandas

In [122]:
# Parse and process fetched data files
for key, value in sources.items():
    format = value['format']
    filepath = os.path.join(data_dir, ("%s.%s" % (key, format)))
    if os.path.isfile(filepath) is False:
        continue
    if format == 'csv':
        value['data'] = pd.read_csv(filepath)
    elif format == 'json':
        value['data'] = pd.read_json(filepath)
        value['data'] = pd.json_normalize(value['data']['data'])
    elif format == 'yml' or format == 'yaml':
        print("file %s has no currently implemented handler" % (key))
    elif format == 'md':
        if key == 'OSPOPlusPlus':
            value['data'] = parse_opp(filepath)
        else:
             print("file %s has no currently implemented handler" % (key))
    elif format == 'html':
        if key == 'OSPOAlliance':
            value['data'] = parse_alliance(filepath)
        else:
             print("file %s has no currently implemented handler" % (key))
    else:
        print("file format %s has no currently implemented handler" % (format))

### Preview the data

In [123]:
for key, value in sources.items():
    print(value['name'], "\n------")
    pp.pprint(value['data'].sample(5))
    print("\n")

S&P 500
------
    Symbol                Security             GICS Sector  \
247    IEX        IDEX Corporation             Industrials
426    SWK  Stanley Black & Decker             Industrials
159    DTE              DTE Energy               Utilities
105   CHTR  Charter Communications  Communication Services
457    TSN             Tyson Foods        Consumer Staples

                                GICS Sub-Industry     Headquarters Location  \
247  Industrial Machinery & Supplies & Components     Lake Forest, Illinois
426  Industrial Machinery & Supplies & Components  New Britain, Connecticut
159                               Multi-Utilities         Detroit, Michigan
105                             Cable & Satellite     Stamford, Connecticut
457                        Packaged Foods & Meats      Springdale, Arkansas

     Date added      CIK Founded
247  2019-08-09   832101    1988
426  1982-09-30    93556    1843
159  1957-03-04   936340    1995
105  2016-09-08  1091667    1993
457  2005-08-10   100493    1935


OSCI
------
     positionChange      company  activeContributors  \
185               2      Grafana                  16
285               0  Forestry.io                   2
90                0       Orange                  60
291               0  Renovateapp                   2
266               0    Cloudbees                   3

     activeContributorsChange  totalCommunity  totalCommunityChange  position  \
185                         0              79                     0       186
285                         0               3                     0       286
90                          5             132                     8        91
291                         0               2                     0       292
266                         0              10                     0       267

                                                   yoy  \
185  [{'date': '2023-07-31', 'active': 16}, {'date'...
285  [{'date': '2023-07-31', 'active': 2}, {'date':...
90   [{'date': '2023-07-31', 'active': 60}, {'date'...
291  [{'date': '2023-07-31', 'active': 2}, {'date':...
266  [{'date': '2023-07-31', 'active': 3}, {'date':...

                                          repositories  \
185                                               None
285                                               None
90   [{'name': 'Httqm/automate-save-page-as', 'amou...
291  [{'name': 'hashbite/consent-manager', 'amount'...
266                                               None

                                             languages  \
185  [{'name': 'JavaScript', 'amount': 8}, {'name':...
285  [{'name': 'TypeScript', 'amount': 427}, {'name...
90   [{'name': 'Shell', 'amount': 465}, {'name': 'R...
291  [{'name': 'JavaScript', 'amount': 3276}, {'nam...
266  [{'name': 'HTML', 'amount': 3}, {'name': 'Java...

                                              licenses          industry
185  [{'name': 'mpl-2.0', 'amount': 4}, {'name': 'a...        Technology
285  [{'name': 'apache-2.0', 'amount': 426}, {'name...        Technology
90   [{'name': 'apache-2.0', 'amount': 1978}, {'nam...  Media & Telecoms
291  [{'name': 'mit', 'amount': 22064}, {'name': 'a...        Technology
266  [{'name': 'mit', 'amount': 40}, {'name': 'apac...        Technology


TODO Group Landscape
------
                      Name                                    Organization  \
22        Comcast (Member)                                         Comcast
1           Aiven (Member)                                           Aiven
21          Cisco (Member)                                           Cisco
50   JiHu(GitLab) (Member)  GitLab Information Technology (Hubei) Co., LTD
127      Comcast (Adopter)                                         Comcast

                                         Homepage  \
22                     https://comcast.github.io/
1                       https://github.com/aiven/
21   https://developer.cisco.com/site/opensource/
50                        https://about.gitlab.cn
127                    https://comcast.github.io/

                                                  Logo  \
22   https://landscape.todogroup.org/logos/comcast-...
1    https://landscape.todogroup.org/logos/aiven-me...
21   https://landscape.todogroup.org/logos/cisco-me...
50   https://landscape.todogroup.org/logos/ji-hu-gi...
127  https://landscape.todogroup.org/logos/comcast-...

                          Twitter  \
22    https://twitter.com/comcast
1    https://twitter.com/aiven_io
21      https://twitter.com/cisco
50                            NaN
127   https://twitter.com/comcast

                                        Crunchbase URL    Market Cap Ticker  \
22     https://www.crunchbase.com/organization/comcast  1.585682e+11  CMCSA
1        https://www.crunchbase.com/organization/aiven           NaN    NaN
21       https://www.crunchbase.com/organization/cisco  1.920735e+11   CSCO
50   https://www.crunchbase.com/organization/gitlab...           NaN    NaN
127    https://www.crunchbase.com/organization/comcast  1.585682e+11  CMCSA

          Funding   Member  ... Accepted Incubation Graduated Dev Stats Url  \
22   4.910841e+09  General  ...      NaN        NaN       NaN           NaN
1    4.200000e+08  General  ...      NaN        NaN       NaN           NaN
21   2.500000e+06  General  ...      NaN        NaN       NaN           NaN
50   0.000000e+00  General  ...      NaN        NaN       NaN           NaN
127  4.910841e+09  General  ...      NaN        NaN       NaN           NaN

    Artwork Url Blog Url Mailing List Url Slack Url Youtube Url Chat Channel
22          NaN      NaN              NaN       NaN         NaN          NaN
1           NaN      NaN              NaN       NaN         NaN          NaN
21          NaN      NaN              NaN       NaN         NaN          NaN
50          NaN      NaN              NaN       NaN         NaN          NaN
127         NaN      NaN              NaN       NaN         NaN          NaN

[5 rows x 50 columns]


OSPO++
------
                OSPO++ Member
2          Baskin Engineering
4                    Brandeis
19  Portland State University
21                        RIT
9         InnerSource Commons


OSPO Alliance
------
          OSPO Alliance Member                       Website
1   Foundation for Public Code       https://publiccode.net/
19                       Komyu         https://www.komyu.io/
23               Open Elements     https://open-elements.de/
27                   Sailboard         https://sailboard.io/
13                        SUSE  https://opensource.suse.com/

### Clean up the data

In [124]:
# Rename columns in S&P 500 and add a few fields for comparison purposes
sources['SP500']['data'] = sources['SP500']['data'].rename(
    columns={'Security': 'company', 'GICS Sector': 'sector'})

sources['SP500']['data']['in S&P 500'] = True
sources['SP500']['data']['country'] = "United States"

# Reorder the columns for clarity's sake
order = ['company', 'sector', 'country', 'in S&P 500']

sources['SP500']['data'] = sources['SP500']['data'].reindex(order, axis=1)

# Filter out columns from OSCI that we don't need
keep_cols = ['company', 'position', 'industry']
sources['OSCI']['data'] = sources['OSCI']['data'].filter(keep_cols)
# print(df_osci.head())

# Rename columns in OSCI and add a field for comparison purposes
sources['OSCI']['data'] = sources['OSCI']['data'].rename(
    columns={'position': 'OSCI position', 'industry': 'OSCI sector'})
sources['OSCI']['data']['in OSCI'] = True

# Reorder the columns for clarity's sake
order = ['company', 'OSCI sector', 'OSCI position', 'in OSCI']

sources['OSCI']['data'] = sources['OSCI']['data'].reindex(order, axis=1)

# Rename columns in OSPO landscape
sources['TODO']['data'] = sources['TODO']['data'].rename(columns={
    'Name': 'TODO status',
    'Organization': 'company',
    'Market Cap': 'market cap',
    'Crunchbase Country': 'TODO country'
})

# Only keep certain columns in the data set
sources['TODO']['data'] = sources['TODO']['data'].filter(
    ['TODO status', 'company', 'market cap', 'TODO country'])

# Add a field for comparison purposes
sources['TODO']['data']['in TODO landscape'] = True

# Filter out those who have not adopted an OSPO
sources['TODO']['data'] = sources['TODO']['data'].loc[sources['TODO']['data']['TODO status'].str.contains(
    "adopter", case=False)]

# Reorder the columns for clarity's sake
order = ['company', 'TODO country', 'market cap',
         'TODO status', 'in TODO landscape']

sources['TODO']['data'] = sources['TODO']['data'].reindex(order, axis=1)

# Rename columns in OPSO++ landscape
sources['OSPOPlusPlus']['data'] = sources['OSPOPlusPlus']['data'].rename(columns={
    'OSPO++ Member': 'company'
})

# Add a field for comparison purposes
sources['OSPOPlusPlus']['data']['in OSPO++ landscape'] = True

# Rename columns in the OSPO Alliance landscape
sources['OSPOAlliance']['data'] = sources['OSPOAlliance']['data'].rename(columns={
    'OSPO Alliance Member': 'company', 'Website': 'website'
})

# Add a field for comparison purposes
sources['OSPOAlliance']['data']['in OSPO Alliance'] = True

### Preview the data

In [125]:
for key, value in sources.items():
    print(value['name'], " has ", len(value['data']), " items" "\n------")
    pp.pprint(value['data'].sample(5))
    print("\n")

S&P 500  has  503  items
------
                  company                  sector        country  in S&P 500
133          CoStar Group             Industrials  United States        True
101              Ceridian  Information Technology  United States        True
128  Constellation Energy               Utilities  United States        True
185                Evergy               Utilities  United States        True
455                Truist              Financials  United States        True


OSCI  has  315  items
------
              company                              OSCI sector  OSCI position  \
33         Automattic                               Technology             34
215     Goldman Sachs  Banking, Insurance & Financial Services            216
74               Uber                       Travel & Transport             75
180  The Dextrous Web                            Public sector            181
141            Solita                               Technology            142

     in OSCI
33      True
215     True
74      True
180     True
141     True


TODO Group Landscape  has  111  items
------
                           company   TODO country    market cap  \
205  Vivo Communication Technology          China           NaN
201                           Uber  United States  6.147338e+10
211             Wipro Technologies          India  2.456895e+10
192                         Square  United States  3.777713e+10
144                         GitHub  United States  2.126545e+12

          TODO status  in TODO landscape
205    Vivo (Adopter)               True
201    Uber (Adopter)               True
211   Wipro (Adopter)               True
192  Square (Adopter)               True
144  GitHub (Adopter)               True


OSPO++  has  29  items
------
                   company  in OSPO++ landscape
13               Moss Labs                 True
7                      FAU                 True
0             Alfred Sloan                 True
20                   RI.SE                 True
23  Saint Louis University                 True


OSPO Alliance  has  40  items
------
                       company                       website  in OSPO Alliance
7                       Huawei       https://www.huawei.com/              True
1   Foundation for Public Code       https://publiccode.net/              True
13                        SUSE  https://opensource.suse.com/              True
6                  Engineering        https://www.eng.it/en/              True
19                       Komyu         https://www.komyu.io/              True

### Merge the data sources

In [126]:
# First, merge S&P Index and OSCI
all_data = sources['SP500']['data'].merge(sources['OSCI']['data'], left_on='company',
                                          right_on='company', how='outer')

# Second, merge with TODO Group landscape
all_data = all_data.merge(sources['TODO']['data'],
                          left_on='company',
                          right_on='company',
                          how='outer')

# Third, merge with OSPO++ members
all_data = all_data.merge(sources['OSPOPlusPlus']['data'], left_on='company',
                          right_on='company', how='outer')

# Fourth, merge with OSPO Alliance members
all_data = all_data.merge(sources['OSPOAlliance']['data'], left_on='company',
                          right_on='company', how='outer')

# Prefer S&P data over OSCI and OSPO Landscape data
all_data['sector'] = all_data['sector'].mask(
    pd.isnull, all_data['OSCI sector'])
all_data['country'] = all_data['country'].mask(
    pd.isnull, all_data['TODO country'])
all_data = all_data.drop(['OSCI sector', 'TODO country'], axis=1)

# Update the column order to something logical
col_order = ['company', 'sector', 'country', 'website', 'market cap', 'in S&P 500', 'in TODO landscape', 'in OSCI',
             'in OSPO++ landscape', 'in OSPO Alliance', 'TODO status', 'OSCI position']

all_data = all_data.reindex(col_order, axis=1)
all_data.sort_values(by=['company']).head(10)

,company,sector,country,website,market cap,in S&P 500,in TODO landscape,in OSCI,in OSPO++ landscape,in OSPO Alliance,TODO status,OSCI position
0,3M,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
1,A. O. Smith,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
6,ADM,Consumer Staples,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
8,ADP,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
10,AES Corporation,Utilities,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
27,AMD,Information Technology,United States,NaN,NaN,True,NaN,True,NaN,NaN,NaN,16.0
43,APA Corporation,Energy,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
899,APELL,NaN,NaN,https://www.apell.info/,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
520,ARM,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,23.0
51,AT&T,Communication Services,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

### Do some manual cleanup for known issues

In [127]:
# Google is split across two Alphabet stock options and Google so we'll merge them
googles = all_data.loc[all_data['company'].str.contains(
    'Alphabet|Google', case=False, regex=True)]
google = googles.groupby('country', as_index=False).last()

# Update the data set and drop the extraneous entries
all_data.set_index('company', inplace=True)
all_data.update(google.set_index('company'))
all_data.reset_index(inplace=True)
all_data[all_data['company'] == 'Google']
all_data.drop(googles.iloc[:2].index, inplace=True)

### Look at a larger sampling of the data

In [128]:
all_data.sample(25)

,company,sector,country,website,market cap,in S&P 500,in TODO landscape,in OSCI,in OSPO++ landscape,in OSPO Alliance,TODO status,OSCI position
320,Moderna,Health Care,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
399,Regeneron,Health Care,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
217,General Dynamics,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
546,Cockroach Labs,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,54.0
623,SBK Kontur,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,138.0
301,Marriott International,Consumer Discretionary,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
672,Alliander,Technology,The Netherlands,NaN,NaN,NaN,True,True,NaN,NaN,Alliander (Adopter),189.0
702,Linutronix,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,220.0
394,Ralph Lauren Corporation,Consumer Discretionary,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
885,Engineering,NaN,NaN,https://www.eng.it/en/,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
331,MSCI,Financials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
250,Illumina,Health Care,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
564,ONLYOFFICE,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,74.0
252,Ingersoll Rand,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
172,Emerson Electric,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
796,SecOps Solutions,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,314.0
806,Box,NaN,United States,NaN,3.907671e+09,NaN,True,NaN,NaN,NaN,Box (Adopter),NaN
375,Pinnacle West,Utilities,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
229,HCA Healthcare,Health Care,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
29,American Airlines Group,Industrials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
485,Wells Fargo,Financials,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
36,AmerisourceBergen,Health Care,United States,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
622,Centreon,Technology,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,137.0
891,Komyu,NaN,NaN,https://www.komyu.io/,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
863,Lero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN

### Normalize the merged data

In [129]:
# Normalize the sectors across data sets

all_data['sector'].mask(all_data['sector'] ==
                        'Information Technology', 'Technology', inplace=True)
all_data['sector'].mask(all_data['sector'] == 'Health Care',
                        'Healthcare & Pharma', inplace=True)
all_data['sector'].mask(all_data['sector'] == 'Financials',
                        'Banking, Insurance & Financial Services ', inplace=True)

# Fill null values with default ones where needed
all_data = all_data.fillna(value={
    'in S&P 500': False,
    'in TODO landscape': False,
    'in OSCI': False,
    'OSCI position': 'na',
    'TODO status': 'na',
    'in OSPO++ landscape': False,
    'in OSPO Alliance': False,
    'market cap': 'unknown',
    'sector': 'unknown',
    'website': 'unknown',
    'country': 'unknown'
})

### Get a sneak peak at the data

In [130]:
data_sample = all_data.sample(20)
data_sample.sort_values(by=['company'])

,company,sector,country,website,market cap,in S&P 500,in TODO landscape,in OSCI,in OSPO++ landscape,in OSPO Alliance,TODO status,OSCI position
32,American International Group,"Banking, Insurance & Financial Services",United States,unknown,unknown,True,False,False,False,False,na,na
561,Atlassian,Technology,unknown,unknown,unknown,False,False,True,False,False,na,71.0
94,Caterpillar Inc.,Industrials,United States,unknown,unknown,True,False,False,False,False,na,na
525,Cisco Systems,Media & Telecoms,unknown,unknown,unknown,False,False,True,False,False,na,29.0
540,Cloudera,Technology,unknown,unknown,unknown,False,False,True,False,False,na,46.0
547,Couchbase,Technology,unknown,unknown,unknown,False,False,True,False,False,na,55.0
860,FAU,unknown,unknown,unknown,unknown,False,False,False,True,False,na,na
208,Fox Corporation (Class A),Communication Services,United States,unknown,unknown,True,False,False,False,False,na,na
664,Infragistics,Technology,unknown,unknown,unknown,False,False,True,False,False,na,180.0
861,InnerSource Commons,unknown,unknown,unknown,unknown,False,False,False,True,False,na,na
562,Instructure,Technology,unknown,unknown,unknown,False,False,True,False,False,na,72.0
292,LKQ Corporation,Consumer Discretionary,United States,unknown,unknown,True,False,False,False,False,na,na
327,Moody's Corporation,"Banking, Insurance & Financial Services",United States,unknown,unknown,True,False,False,False,False,na,na
341,NiSource,Utilities,United States,unknown,unknown,True,False,False,False,False,na,na
385,Prudential Financial,"Banking, Insurance & Financial Services",United States,unknown,unknown,True,False,False,False,False,na,na
420,Skyworks Solutions,Technology,United States,unknown,unknown,True,False,False,False,False,na,na
437,Take-Two Interactive,Communication Services,United States,unknown,unknown,True,False,False,False,False,na,na
464,United Rentals,Industrials,United States,unknown,unknown,True,False,False,False,False,na,na
484,WEC Energy Group,Utilities,United States,unknown,unknown,True,False,False,False,False,na,na
784,metas,Technology,unknown,unknown,unknown,False,False,True,False,False,na,302.0

## Save processed data to file

In [131]:
output_dir = "data_derived/%s/%s/" % (today.year, ('%02d' % (today.month)))
output_file = os.path.join(output_dir, "merged_data.csv")

if not os.path.exists(output_dir):
    os.makedirs(output_dir)

all_data.to_csv(output_file, index=False)

## Proceed to create visualizations

Head over to the [Visualizations notebook](Visualizations.ipynb) to generate some charts about the data.