## FOCUSED
- Author:  Reshama Shaikh

## Data Sources
1. S&P 500
1. OSCI Index
1. Suzy spreadsheet

---

## Date

In [1]:
from datetime import date

current_date = date.today()
print("Today's date:", current_date)

Today's date: 2022-05-03

## Import libraries

In [2]:
import pandas as pd 
import numpy as np
import requests
import time
import csv
from pprint import pprint

In [3]:
import plotly.express as px
import plotly.graph_objects as go

In [4]:
%load_ext watermark
%watermark -n -v -m -g -iv

Python implementation: CPython
Python version       : 3.9.7
IPython version      : 7.25.0

Compiler    : Clang 11.1.0
OS          : Darwin
Release     : 19.6.0
Machine     : x86_64
Processor   : i386
CPU cores   : 4
Architecture: 64bit

Git hash: e7a629445c456b2ed6aab6410137c3e0c696b677

numpy   : 1.20.2
csv     : 1.0
pandas  : 1.3.3
plotly  : 5.4.0
requests: 2.25.1

## Set pandas view options

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

### 1. Data Source:  S&P 500

In [6]:
datapath="data_raw/"

def get_raw_data(data_url, file_name):
    file_url = data_url + "/" + file_name
    !wget -N {file_url} -P {datapath} 
    
def read_raw_data(file_name):
    df_use = pd.read_csv(datapath+file_name)
    
    return df_use

In [7]:
data_url='https://raw.githubusercontent.com/datasets/s-and-p-500-companies/master/data/'
file_name = 'constituents.csv'

#run once
#get_raw_data(data_url, file_name)

In [8]:
# run once
#!mv data_raw/constituents.csv data_raw/sp500.csv

In [9]:
file_name='sp500.csv'
df_sp = read_raw_data(file_name)

print(df_sp.shape)
df_sp.head(5)

(505, 3)

  Symbol                 Name       Sector
0    MMM                   3M  Industrials
1    AOS          A. O. Smith  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV               AbbVie  Health Care
4   ABMD              Abiomed  Health Care

### 2. Data Source:  OSCI

In [10]:
data_url='https://ststaticprodosciwebz2vmu.blob.core.windows.net/data/osci-ranking/daily'
file_name = '2022-04-17.json'

#run once
#get_raw_data(data_url, file_name)

In [11]:
# run once
#!mv data_raw/2022-04-17.json data_raw/osci.json

In [12]:
file_name='osci.json'
file_name

'osci.json'

In [13]:
import json
 
# Opening JSON file
f = open('data_raw/osci.json')
 
# returns JSON object as
# a dictionary
data = json.load(f)

print(len(data))
#print(data)


# Iterating through the json
# list
for i in data['date'][0]:
    print(i)
 
# Closing file
f.close()

3
2

In [14]:
print(data['date'])
print(type(data))
print(type(data['date']))
#print(data['date'].['comparedDate'])
#print(data['date'][0]['data'])
print(data['date'], data['data'][0]['company'])

2022-04-17
<class 'dict'>
<class 'str'>
2022-04-17 Google

In [15]:
#pd.read_json('data_raw/osci.json')

In [16]:
# Normalizing data
multiple_level_data = pd.json_normalize(data, record_path =['data'])
#, meta =['original_number_of_clusters','Scaler','family_min_samples_percentage'], 
#meta_prefix='config_params_', record_prefix='dbscan_')

# Saving to CSV format
#multiple_level_data.to_csv('multiplelevel_normalized_data.csv', index=False)

multiple_level_data.head(1)

,positionChange,company,activeContributors,activeContributorsChange,totalCommunity,totalCommunityChange,position,yoy,contributors,languages,licenses,industry
0,0.0,Google,4017.0,273.0,8676,431.0,1,"[{'date': '2020-04-17', 'active': 2587.0}, {'d...","[{'Contributor': 'Modular Magician', 'Commits'...","[{'name': 'Brightscript', 'amount': 5}, {'name...","[{'name': 'apache-2.0', 'amount': 180027}, {'n...",Technology

In [17]:
keep_cols = ['positionChange', 'company', 'activeContributors', 'activeContributorsChange', 
             'totalCommunity', 'totalCommunityChange', 'position', 'industry'
            ]

df_osci = multiple_level_data.filter(keep_cols)
df_osci['in_osci']=1

print(df_osci.shape)
df_osci.head(5)

(298, 9)

,positionChange,company,activeContributors,activeContributorsChange,totalCommunity,totalCommunityChange,position,industry,in_osci
0,0.0,Google,4017.0,273.0,8676,431.0,1,Technology,1
1,0.0,Microsoft,3630.0,308.0,8128,545.0,2,Technology,1
2,0.0,Red Hat,2965.0,159.0,4594,188.0,3,Technology,1
3,0.0,Intel,1557.0,112.0,3504,190.0,4,Technology,1
4,0.0,IBM,1419.0,128.0,3515,259.0,5,Technology,1

In [18]:
df_sp = df_sp.rename(columns=
                         {'Name': 'company'
                             })
df_sp['in_sp500']=1
df_sp.head(5)

  Symbol              company       Sector  in_sp500
0    MMM                   3M  Industrials         1
1    AOS          A. O. Smith  Industrials         1
2    ABT  Abbott Laboratories  Health Care         1
3   ABBV               AbbVie  Health Care         1
4   ABMD              Abiomed  Health Care         1

In [19]:
df_parta = df_sp.merge(df_osci, left_on="company", right_on="company", how="outer")
print(len(df_parta))
df_parta.head()

781

,Symbol,company,Sector,in_sp500,positionChange,activeContributors,activeContributorsChange,totalCommunity,totalCommunityChange,position,industry,in_osci
0,MMM,3M,Industrials,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AOS,A. O. Smith,Industrials,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBV,AbbVie,Health Care,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABMD,Abiomed,Health Care,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_parta = df_parta.rename(columns=
                         {'Symbol': 'symbol',
                          'Sector': 'sector'
                             })

new_order = ['symbol', 'company','sector', 'industry',
             'in_sp500','in_osci', 'position'
            ]

df_parta = df_parta.reindex(new_order, axis=1)

In [21]:
df_parta.head()

,symbol,company,sector,industry,in_sp500,in_osci,position
0,MMM,3M,Industrials,NaN,1.0,NaN,NaN
1,AOS,A. O. Smith,Industrials,NaN,1.0,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,NaN,1.0,NaN,NaN
3,ABBV,AbbVie,Health Care,NaN,1.0,NaN,NaN
4,ABMD,Abiomed,Health Care,NaN,1.0,NaN,NaN

In [22]:
df_check = df_parta.groupby(['in_sp500','in_osci']).sum()
#df_check = df_use.groupby(['meetup_db','registered_db','inv_db']).count()
df_check

                  position
in_sp500 in_osci
1.0      1.0        1268.0

In [23]:
df_check = df_parta.groupby(['in_sp500']).count()
df_check

          symbol  company  sector  industry  in_osci  position
in_sp500
1.0          505      505     505        22       22        22

In [24]:
df_check = df_parta.groupby(['in_osci']).count()
df_check

         symbol  company  sector  industry  in_sp500  position
in_osci
1.0          22      298      22       298        22       298

In [25]:
df_check = df_parta.groupby(['in_sp500','in_osci']).count()
df_check

                  symbol  company  sector  industry  position
in_sp500 in_osci
1.0      1.0          22       22      22        22        22

In [26]:
#df_check = df_parta.groupby(['company']).count()
#df_check

In [27]:
#df_parta.head(5)

In [28]:
#df_parta.dtypes

In [29]:
#df_sample = df_parta.sample(20)

In [30]:
#df_sample.sort_values(by=['company'])

In [31]:
df_parta[df_parta['company']=="Google"]

    symbol company sector    industry  in_sp500  in_osci  position
505    NaN  Google    NaN  Technology       NaN      1.0       1.0

In [32]:
df_sorted = df_parta.sort_values(by=['company'])

df_sorted

df_sample = df_sorted.sample(20)
df_sample

,symbol,company,sector,industry,in_sp500,in_osci,position
87,KMX,CarMax,Consumer Discretionary,NaN,1.0,NaN,NaN
618,NaN,Kaltura,NaN,Technology,NaN,1.0,135.0
265,JPM,JPMorgan Chase,Financials,NaN,1.0,NaN,NaN
567,NaN,WSO2,NaN,Technology,NaN,1.0,79.0
70,BK,BNY Mellon,Financials,NaN,1.0,NaN,NaN
221,HAL,Halliburton,Energy,NaN,1.0,NaN,NaN
630,NaN,Linagora,NaN,Technology,NaN,1.0,147.0
616,NaN,SiFive,NaN,Technology,NaN,1.0,133.0
369,PNW,Pinnacle West Capital,Utilities,NaN,1.0,NaN,NaN
739,NaN,Polidea,NaN,Technology,NaN,1.0,257.0
624,NaN,Kainos,NaN,Technology,NaN,1.0,141.0
606,NaN,Brave,NaN,Technology,NaN,1.0,123.0
211,GNRC,Generac Holdings,Industrials,NaN,1.0,NaN,NaN
637,NaN,TI,NaN,Technology,NaN,1.0,154.0
308,MRK,Merck & Co.,Health Care,NaN,1.0,NaN,NaN
55,AZO,AutoZone,Consumer Discretionary,NaN,1.0,NaN,NaN
521,NaN,Datadoghq,NaN,Technology,NaN,1.0,26.0
118,KO,Coca-Cola Company,Consumer Staples,NaN,1.0,NaN,NaN
685,NaN,Enalean,NaN,Technology,NaN,1.0,202.0
460,UNP,Union Pacific,Industrials,NaN,1.0,NaN,NaN

### 3. Data Source:  Suzy spreadsheet

In [33]:
file_name = 'classification_suzy.csv'

df_suzy = pd.read_csv('data_raw/'+file_name)
df_suzy['in_suzy']=1

df_suzy = df_suzy.rename(columns=
                         {'Company': 'company',
                          'Level of Engagement': 'os_engagement',
                          'TODO Member': 'todo_member',
                          'TODO Adopter': 'todo_adopter',
                          'Main Business': 'area',
                          'Relevance to Core Business': 'relevance'
                             })

df_suzy.head(3)

,company,date_updated_suzy,Main Business,Area of Business Value,relevance,os_engagement,todo_member,todo_adopter,Linux Foundation (Platinum + Gold),GitHub list https://github.com/collections/open-source-organizations,OSCI Index top 60(as of Feb 2021),Reasoning,GitHub,Note,Response to survey,Survey: What do you consider to be your company's dominant open source investment where there are likely shared dependencies?,Survey: Want to hear more?,Emailed to:,in_suzy
0,AT&T,2021-05-07,Telcom/operator is main revenue source (also m...,software,Accelerant,Co-Leading,NaN,NaN,X,NaN,NaN,I sense that AT&T sees investments as strategi...,NaN,NaN,NaN,NaN,NaN,NaN,1
1,SAIC,2021-05-07,SAIC integrates multiple disciplines to provid...,services,Accelerant,Combining,NaN,NaN,NaN,NaN,NaN,SAIC gov't focused. They contribute (e.g. RedH...,https://github.com/saic-oss,NaN,NaN,NaN,NaN,NaN,1
2,Vapor IO,2021-05-07,edge computing infra,software,Accelerant,Co-Leading,NaN,NaN,NaN,NaN,NaN,"Using os for trust, function, ecosystem develo...",NaN,NaN,NaN,NaN,NaN,NaN,1

In [34]:
keep_cols = ['company', 'area','os_engagement', 'in_suzy', 'relevance' 
            ]
            #'activeContributors', 'activeContributorsChange', 
            # 'totalCommunity', 'totalCommunityChange', 'position', 'industry'
            #]

df_suzy = df_suzy.filter(keep_cols)

print(df_suzy.shape)
df_suzy.head(3)

(141, 4)

    company os_engagement  in_suzy   relevance
0      AT&T    Co-Leading        1  Accelerant
1      SAIC     Combining        1  Accelerant
2  Vapor IO    Co-Leading        1  Accelerant

In [35]:
df_check = df_suzy.groupby(['in_suzy']).count()
df_check

         company  os_engagement  relevance
in_suzy
1            141             55         55

In [36]:
df_partb = df_sorted.merge(df_suzy, left_on="company", right_on="company", how="outer")
df_partb['company_count']=1
print(df_partb.shape)
df_partb.head()

(876, 10)

,symbol,company,sector,industry,in_sp500,in_osci,position,os_engagement,in_suzy,relevance
0,MMM,3M,Industrials,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,NaN,4teamwork,NaN,Technology,NaN,1.0,285.0,NaN,NaN,NaN
2,NaN,5minds,NaN,Technology,NaN,1.0,276.0,NaN,NaN,NaN
3,AOS,A. O. Smith,Industrials,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,ADM,ADM,Consumer Staples,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [39]:
df_check = df_partb.groupby(['in_sp500','company_count']).sum()
df_check

          in_osci  position  in_suzy
in_sp500
1.0          22.0    1268.0     14.0

# END OF CODE

# END OF CODE

# END OF CODE

---

In [37]:
print x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (3945978432.py, line 1)

In [ ]:
df_meetup['city'].mask(df_meetup['city'] == 'Raleigh', 'Raleigh-Durham', inplace=True)

In [ ]:
# rename columns
df_meetup.rename(columns={"name": "meetup_name", 
                          "members": "meetup_members",
                          "fullurl": "meetup_url",
                          "created": "meetup_created",
                          "status": "meetup_status"
                            },
                   inplace = True,
                   errors="raise")

## 2. Data Source:  Chapter List
### Get raw data

In [ ]:
!ls -alt data_raw/

In [ ]:
file_name = '1_pyladies_export_2021_03_01.csv'

chapter_list = pd.read_csv(datapath+file_name)

In [ ]:
chapter_list.head()

In [ ]:
chapter_list.info()

In [ ]:
chapter_list.shape

In [ ]:
df_chapter = chapter_list.copy()
# rename columns
df_chapter.rename(columns={"First Name [Required]": "city1", 
                             "Last Name [Required]": "city2", 
                             "Email Address [Required]": "email",
                             "Last Sign In [READ ONLY]": "email_signin_date",
                             "Email Usage [READ ONLY]": "email_usage"
                            },
                   inplace = True,
                   errors="raise")


# delete columns:  'active' is same for all
df_chapter = df_chapter.drop(['Status [READ ONLY]'], axis=1)

# fix data issue
df_chapter['city2'].mask(df_chapter['city2'] == \
                      'PyLladies', \
                      'PyLadies', inplace=True)

df_chapter['city2'].mask(df_chapter['city2'] == \
                      'PyLdies', \
                      'PyLadies', inplace=True)

# swap some rows
df_chapter['city_temp1'] = df_chapter['city1'].str.upper() 
df_chapter['city_temp2'] = df_chapter['city2'].str.upper() 

df_chapter['city'] = df_chapter['city1']
df_chapter['temp'] = df_chapter['city2']

df_chapter['city'].mask(df_chapter['city_temp1'] == 'PYLADIES', df_chapter['city2'], inplace=True)

df_chapter['temp'].mask(df_chapter['city_temp2'] == 'PYLADIES', df_chapter['city1'], inplace=True)

# exclude some rows
df_chapter = df_chapter[(df_chapter['city_temp1'] == 'PYLADIES') | (df_chapter['city_temp2'] == 'PYLADIES')] 

df_chapter = df_chapter[(df_chapter['city1'] != 'Admin')] 
df_chapter = df_chapter[(df_chapter['city2'] != 'Sponsorship')] 
df_chapter = df_chapter[(df_chapter['city2'] != 'Info')] 
df_chapter = df_chapter[(df_chapter['city2'] != 'Systems')] 
df_chapter = df_chapter[(df_chapter['city1'] != 'Communications')] 

# clean up city names
df_chapter['city'].mask(df_chapter['city'] == 'NYC', 'New York', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Princeton NJ', 'Princeton', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Pune, India', 'Pune', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'TC', 'Minneapolis', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Goa', 'Panaji Goa', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Visakhapatnam/Andhra Pradesh/India', 'Visakhapatnam', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Washington', 'Washington DC', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Aba / Abia State', 'Aba', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'West Windsor NJ', 'West Windsor', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Medellin', 'Medelln', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Albania', 'Tirania', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'BH', 'Belo Horizonte', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Guatemala', 'Guatemala City', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Inland Empire', 'Riverside', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Vale', 'Vale do Paraiba', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Plateau', 'Jos Plateau', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Recife, Brasil', 'Recife', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Rio de Janerio', 'Rio de Janeirio', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Salt Lake', 'Salt Lake City', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'SA', 'San Antonio', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'So Carlos, Brasil', 'So Carlos', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Taiwan', 'Taipei', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Milan', 'Milano', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Munich', 'Mnchen', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Rio de Janeirio', 'Rio de Janeiro', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Bangalore', 'Bengaluru', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'DC', 'Washington DC', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'DF', 'Brasilia', inplace=True)
df_chapter['city'].mask(df_chapter['city'] == 'Congo-Brazzaville', 'Brazzaville', inplace=True)


import datetime
df_chapter['date_logged'] = df_chapter['email_signin_date']

df_chapter['email_signin_date'].mask(df_chapter['email_signin_date'] == 'Never logged in', 'NaN', inplace=True)

df_chapter['email_signin_date'] = df_chapter['email_signin_date'].astype('datetime64[ns]').dt.date

# drop temp variables
df_chapter = df_chapter.drop(['city1','city2','city_temp1','city_temp2','temp'], axis=1)

df_chapter['registered_db'] = 1

In [ ]:
df_chapter.head(300)

In [ ]:
df_chapter.shape

In [ ]:
df_all = pd.merge(df_chapter, df_meetup, on=['city'],  how='outer')

In [ ]:
print('emails (all):      ', chapter_list.shape)
print('emails (chapters): ', df_chapter.shape)
print('-'*30)
print('meetup dashboard:  ', df_meetup.shape)
print('-'*30)
print('Merged:            ', df_all.shape)

In [ ]:
df_all.sort_values(by=['city'])

In [ ]:
df_all[['email','email_signin_date','email_usage','city','country','region', 'registered_db','meetup_db','meetup_status','last_event']]

In [ ]:
df_all = df_all.drop(['country','region'], axis=1)

## 3. Data Source:  Reshama's Inventory
### Get raw data

In [ ]:
file_name3 = '2021_PyLadies_Inventory - 2021-03.csv'
df_inventory = pd.read_csv(datapath+file_name3)  
df_inventory['inv_db'] = 1

In [ ]:
#df_inventory['city'].mask(df_inventory['city'] == 'Caxias Do Sul', 'Caxias do Sul', inplace=True)
#df_inventory['city'].mask(df_inventory['city'] == 'Duque De Caxias', 'Duque de Caxias', inplace=True)
#df_inventory['city'].mask(df_inventory['city'] == 'Salt Lake Area', 'Salt Lake City', inplace=True)

In [ ]:
df_inventory.head(5)

In [ ]:
df_inventory.shape

In [ ]:
df_use = pd.merge(df_all, df_inventory, on=['city'],  how='outer')

In [ ]:
df_use = df_use.sort_values(by=['city'])

df_use.head(4)

In [ ]:
# As a default, if meetup group exists, use that member count

#df_test=df_use.copy()

# df_test[['city', 'country','region', \
#         'registered_db','meetup_db','main_platform','meetup_members','members_followers']].head(10)
# df_test['members_followers'].mask(df_test['meetup_members'] == 'NaN', df_test['members_followers'], inplace=True)


df_use['members_followers']=df_use['meetup_members'].mask(pd.isnull, df_use['members_manual'])


df_use[['city', 'country','region', \
        'registered_db','meetup_db','main_platform','meetup_members','members_manual','members_followers']].head(100)

In [ ]:
df_use[['city', 'country','region', \
        'registered_db','meetup_db','main_platform','meetup_members','members_followers']]

In [ ]:
df_use.shape

In [ ]:
#df_use[['email','email_signin_date','email_usage','city','country_x','region_x', 'country_y','region_y', 'registered_db','meetup_db','status','last_event']]
df_use[['email','email_signin_date','city', 'country','region', \
        'registered_db','meetup_db','main_platform']]

In [ ]:
df_use['chapter_count'] = 1

In [ ]:
df_use['meetup_db'].unique()

In [ ]:
df_use['meetup_db'].value_counts(normalize=True)

In [ ]:
df_use['meetup_db'].value_counts(normalize=False)

In [ ]:
#df_use.head(3)

In [ ]:
df_use.shape

### Remove Duplicates

In [ ]:
# get names of indexes for which 

# Note:  There are 2 registered chapters for Bengaluru
index_names = df_use[ df_use['email'] == 'bangalore@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'sa@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'mum@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'newark@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'alb@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'tampa@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

index_names = df_use[ df_use['email'] == 'tunisia@pyladies.com' ].index 
df_use.drop(index_names, inplace = True) 

# Note:  There are 2 meetup groups with same name
index_names = df_use[ df_use['meetup_url'] == 'https://www.meetup.com/Pyladies-Bogota/'].index 
df_use.drop(index_names, inplace = True) 

# Note:  There are 2 meetup groups with same name
index_names = df_use[ df_use['meetup_url'] == 'https://www.meetup.com/PyLadies-PUC-Rio/'].index 
df_use.drop(index_names, inplace = True) 


df_use.shape

### Create `location` column

In [ ]:
df_use['location'] = df_use['city'].astype(str) + ' ' + df_use['country'].astype(str)
df_use['location2']= df_use['city'].astype(str) \
                        + ' ' \
                        + df_use['state-province'].astype(str) \
                        + ' ' \
                        + df_use['country'].astype(str)


subset = df_use[['location','location2', 'city', 'state-province','country','country_level','region', 'main_platform']]
subset.head(300)

In [ ]:
df_use.head()

## For Venn Diagram

In [ ]:
# subset = df_use[df_use["meetup"].isin(["1"])]
# subset

In [ ]:
df_use[['email','email_signin_date','city', 'country','region', \
        'registered_db','meetup_db','main_platform']]

In [ ]:
df_use_check=df_use[['meetup_db','registered_db','inv_db','chapter_count']]

In [ ]:
df_check = df_use_check.groupby(['meetup_db']).sum()

In [ ]:
df_check

In [ ]:
df_check = df_use_check.groupby(['registered_db']).sum()

In [ ]:
df_check

In [ ]:
df_check = df_use_check.groupby(['inv_db']).sum()

In [ ]:
df_check

In [ ]:
df_check = df_use.groupby(['meetup_db','registered_db','inv_db']).sum()
#df_check = df_use.groupby(['meetup_db','registered_db','inv_db']).count()
df_check

In [ ]:
df_use[['meetup_db','registered_db','inv_db','email','email_signin_date','city', 'state-province','country','region', 'main_platform']]

In [ ]:
df_use.shape

In [ ]:
# subset = df_use.query('meetup_db' in(1))
# #& registered_db == '1')


# temp = df_use[df_use.eval("meetup_db = '1'")]

In [ ]:
df_use['status_derived'].value_counts(normalize=False)

In [ ]:
df_use['main_platform'].value_counts(normalize=False)

In [ ]:
subset = df_use[df_use["country_level"].isin(["1"])]
print(subset.shape)
subset.head()

In [ ]:
df_use['region'].value_counts(normalize=False)

In [ ]:
df_use['members_followers'].sum()

In [ ]:
(df_use['country'].unique()).shape

In [ ]:
df_use['country'].value_counts(normalize=False)[:10]

In [ ]:
# 75 meetup
# 60 not found
# 135
# 261 - 135 = 125 -45 Brazil = 90

# Set cvs file

In [ ]:
#df_use.sort_values(by=['region','country','city','state-province'])

df_use.sort_values(['region','country','city','state-province'], inplace=True, ascending=True)

In [ ]:
df_use.to_csv('data_derived/pyladies_clean.csv',
              columns=['region','country','city','state-province','email','email_signin_date','email_usage', \
                       'main_platform','founded','meetup_created','main_platform_link','members_followers', \
                       'status_derived','members_manual','meetup_members', 'meetup_url', 'meetup_status','last_event',\
                       'past_events','upcoming_events','country_level','last_activity', 'facebook_page',\
                       'website','meetup_link', 'twitter_link','instagram_link','other_social_media', \
                       'meetup_db','registered_db','inv_db','meetup_name','location','location2','chapter_count'
                                 ])

In [ ]:
#df_use.info()

In [ ]:
df_use.head()